@model TechJobs.ViewModels.SearchJobsViewModel

<h1>@Model.Title</h1>

@if (Model.SingleJob != null)
{
    <table class="job-listing">
        <tr>
            <td>Name</td>
            <td>@Model.SingleJob.Name</td>
        </tr>
        <tr>
            <td>Employer</td>
            <td>@Model.SingleJob.Employer</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>@Model.SingleJob.Location</td>
        </tr>
        <tr>
            <td>Skill</td>
            <td>@Model.SingleJob.CoreCompetency</td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td>@Model.SingleJob.PositionType</td>
        </tr>
    </table>
}
else
{
    <h2>No Job Details Available</h2>
}

